/* reglas
selectores
declaraciones
propiedades
valores */
/*header {
  background: #5965658c;
 }*/

 @font-face {
   font-family: 'icomoon';
   src:  url('../fonts/icomoon.eot?lohhxq');
   src:  url('../fonts/icomoon.eot?lohhxq#iefix') format('embedded-opentype'),
     url('../fonts/icomoon.ttf?lohhxq') format('truetype'),
     url('../fonts/icomoon.woff?lohhxq') format('woff'),
     url('../fonts/icomoon.svg?lohhxq#icomoon') format('svg');
   font-weight: normal;
   font-style: normal;
   font-display: block;
 }

 [class^="icon-"], [class*=" icon-"] {
   /* use !important to prevent issues with browser extensions that change fonts */
   font-family: 'icomoon' !important;
   speak: never;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1;

   /* Better Font Rendering =========== */
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 .icon-newspaper:before {
   content: "\e904";
 }
 .icon-quill:before {
   content: "\e907";
 }
 .icon-profile:before {
   content: "\e923";
 }
 .icon-file-zip:before {
   content: "\e92b";
 }
 .icon-folder-open:before {
   content: "\e930";
 }
 .icon-phone:before {
   content: "\e942";
 }
 .icon-envelop:before {
   content: "\e945";
 }
 .icon-location:before {
   content: "\e947";
 }
 .icon-display:before {
   content: "\e956";
 }
 .icon-rocket:before {
   content: "\e9a5";
 }
 .icon-menu:before {
   content: "\e9bd";
 }
 .icon-sphere:before {
   content: "\e9c9";
 }
 .icon-earth:before {
   content: "\e9ca";
 }
 .icon-embed2:before {
   content: "\ea80";
 }
 .icon-terminal:before {
   content: "\ea81";
 }
 .icon-instagram:before {
   content: "\ea92";
 }
 .icon-spotify:before {
   content: "\ea94";
 }
 .icon-telegram:before {
   content: "\ea95";
 }
 .icon-twitter:before {
   content: "\ea96";
 }
 .icon-youtube:before {
   content: "\ea9d";
 }
 .icon-vimeo2:before {
   content: "\eaa1";
 }
 .icon-github:before {
   content: "\eab0";
 }
 .icon-tux:before {
   content: "\eabd";
 }
 .icon-android:before {
   content: "\eac0";
 }
 .icon-soundcloud2:before {
   content: "\eac4";
 }
 .icon-linkedin:before {
   content: "\eac9";
 }
 .icon-stackoverflow:before {
   content: "\ead0";
 }
 .icon-paypal:before {
   content: "\ead8";
 }
 .icon-git:before {
   content: "\eae7";
 }





.Proj-details{
  width: 500px;
  /*height: 200px;*/
}
.Proj-imacont{
  width: 500px;
}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Ranchers', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

/*selector de etiqueta header - section - article - nav */
/*selector descendente
body header div nav ol li a*/
 body {
  /* background: #5965658c;
  font-family:'Source Sans Pro',serif;
  font-weight: normal; */
  margin: 0px;
}

/*---------------------------*/


/*                           */
/*           Header          */
/*                           */
.header {
  background-color: #333636 ;  /*ColorPicker*/
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.3em;
}

.logo{
  margin: 0;
  padding: 0;
  height: 66px;
}

.header menu {
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}
.header ol {
  display: flex;
  flex-wrap: wrap;
  height: inherit;
  list-style: none;
}
.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  padding: 0 1em;
}
.h4logo,
.h5logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin:0px;
  padding:0px;
}

.link{
  font-family: 'Open Sans', sans-serif;
}
/*                               */
/*              Body             */
/*                               */

.hero{
  height: 600px;
  /* border: 1px solid red; */
  background-color: #5965658c;
  /* background-image: url('../images/hero.png'); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  margin: 0px;
  padding: 0 1.3em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
   font-size: 2.6em;
   line-height: 1.5;
   letter-spacing: -0.01em;
   color: white;
   margin-top: 0px;
   /*text-transform: uppercase;*/
   /*text-decoration: underline;*/
}

h1 strong{
  color: #2ee696;
}
.phero{
  color: white;
  font-size: x-large;
}

.container{
  /* border: 1px solid red; */
  max-width: 1300px; /*non-fijo*/
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 0;
  display: inherit;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
}

.subc{
  /* border: 1px solid red; */
  margin:0;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.subb{
  /* border: 1px solid green; */
  margin:0;
  width: 39%;
  display: block;
  align-items: center;
  text-align: justify;
}
.suba{
  /* border: 1px solid red; */
  margin:0;
  padding: 0px;
  display: flex;
  align-items: center;
}
.subd{
  /* border: 1px  solid blue; */
  margin:0 10px 0 0;
  padding: 0px;
  display: block;
  align-items: center;
  text-align: justify;
}

.Projects{
  /* height: 300px; */
  /* background-color: #5965658; */
  background-color: #5965658c;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.email{
  /* border: 1px solid red; */
  /*max-width: 1300px; */
  margin: 0.7em auto;
  display: flex;
  justify-content: center;
  width: 90%;
}
h4,h5{
  /* line-height: 0.5; */
  margin:0px ;
  padding:0px;
}
 /**/

 .foot {
   background-color: #333636 ;
   max-width: 1300px; /*non-fijo*/
   height: 3em;
   margin: 1.3em 0 0 0;
   padding: 0 0.6em 0;
   color: white;
   display: flex;
   align-items: center;
 }

 .vids{
   /* display: flex; */
   /* flex-wrap: wrap; */
 }
 .hv{

   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   width: 50%;
   height: auto;
 }
 .yv{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 50%;
   width: 50%;
   height: 100%;
 }

 .yvid{
   /* background-color: blue; */
   width: 50%
   height:0;
   padding-top: 28.125%;
   position: relative;
 }

 .burger-button{
   display: none;
   line-height: 40px;
   text-align: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   z-index: 3;
   left: 5px;
   top: 5px;
   color: white;
 }

@media screen and (max-width:1360px){

}

@media screen and (max-width:860px){
  .header {
    height: auto;
    padding: 0.6em 0;
    justify-content: space-between;
  }
  .hero{
    height: auto;
  }

  .subb{
    margin:0;
    width: 80%;
    display: block;
    align-items: center;
    text-align: justify;
  }
  h1 {
    text-align: center;
    padding-top: 0.7em;
  }
  .hero-img{
    width: 80%;
    height: auto;
    margin-bottom: 1.9em;
  }
}

@media screen and (max-width:632px){
  .header {
    height: auto;
    justify-content: center;
  }
  .h4logo, .h5logo {
    text-align: center;
  }
  .hero-img{
    margin-bottom: 1.3em;
  }
}

@media screen and (max-width:480px){
  .header {
    height: auto;
    justify-content: center;
  }
  .burger-button{
    display: block;
  }
  .suba {
    margin: 0;
  }
  .menu {
    position: fixed;
    background: rgba(5,111,100,0.9);
    z-index: 2;
    top:0;
    left:-100vw;
    width: 100vw;
    /* height: 100vh; */
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
  }
  .menu.is-active {
    left:0;
  }
  .header ol {
    display: block;
    text-align: center;
    padding: 0;
  }
  .header ol li {
    height: 60px;
  }
  .header a{
    height: 40px;
    font-size: 1.6em;
  }
  .h4logo, .h5logo {
    text-align: center;
  }
  .hero-img{
    width: 80%;
    height: auto;
  }
  h1{
    font-size: 2.3em;
  }
  .phero {
    font-size: 1.5em;
  }
  .email{
    text-align: center;
  }
}

@media screen and (max-width:323px){
  .suba {
    width:85%;
  }
  h1{
    font-size: 1.9em;
  }
  .phero {
    font-size: 1.3em;
  }
  .hero-img{
    width: 90%;
    height: auto;
    margin-bottom: 1em;
  }

  .header a{
    height: 40px;
    font-size: 1.3em;
  }
}
