/* reglas
selectores
declaraciones
propiedades
valores */
/*header {
  background: #5965658c;
 }*/






.Proj-details{
  width: 500px;
  /*height: 200px;*/
}
.Proj-imacont{
  width: 500px;
}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Ranchers', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;*/

/*selector de etiqueta header - section - article - nav */
/*selector descendente
body header div nav ol li a*/
body {
  background: #5965658c;
  font-family:'Source Sans Pro',serif;
  font-weight: normal;
  margin: 0px;
}

/*---------------------------*/


/*                           */
/*           Header          */
/*                           */
.header {
  background-color: #333636 ;  /*ColorPicker*/
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.3em;
}

.logo{
  margin: 0;
  padding: 0;
  height: 66px;
}

.header menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
  list-style: none;
}
.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  padding: 0 1em;
}
.h4logo,
.h5logo {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin:0px;
  padding:0px;
}

.link{
  font-family: 'Open Sans', sans-serif;
}
/*                               */
/*              Body             */
/*                               */

.hero{
  height: 600px;
  /* border: 1px solid red; */
  background-color: #5965658c;
  /* background-image: url('../images/hero.png'); */
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  margin: 0px;
  padding: 0 1.3em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

h1 {
   font-size: 2.6em;
   line-height: 1.5;
   letter-spacing: -0.01em;
   color: white;
   margin-top: 0px;
   /*text-transform: uppercase;*/
   /*text-decoration: underline;*/
}

h1 strong{
  color: #2ee696;
}
.phero{
  color: white;
  font-size: x-large;
}

.container{
  /* border: 1px solid red; */
  max-width: 1300px; /*non-fijo*/
  width: 100%;
  margin: 0 auto;
  padding: 0 10px 0;
  display: inherit;
  flex-wrap: wrap;
  align-items: inherit;
  justify-content: inherit;
  height: inherit;
}

.subc{
  /* border: 1px solid red; */
  margin:0;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
.subb{
  /* border: 1px solid green; */
  margin:0;
  width: 39%;
  display: block;
  align-items: center;
  text-align: justify;
}
.suba{
  /* border: 1px solid red; */
  margin:0;
  padding: 0px;
  display: flex;
  align-items: center;
}
.subd{
  /* border: 1px  solid blue; */
  margin:0 10px 0 0;
  padding: 0px;
  display: block;
  align-items: center;
  text-align: justify;
}

.Projects{
  /* height: 300px; */
  /* background-color: #5965658; */
  background-color: #5965658c;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foo{
  /* border: 1px solid red; */
  /*max-width: 1300px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
h4,h5{
  /* line-height: 0.5; */
  margin:0px ;
  padding:0px;
}


@media screen and (max-width:1360px){

}

@media screen and (max-width:860px){
  .header {
    height: auto;
    justify-content: space-between;
  }
  .hero{
    height: auto;
  }

  .subb{
    margin:0;
    width: 80%;
    display: block;
    align-items: center;
    text-align: justify;
  }
  h1 {
    text-align: center;
    padding-top: 0.7em;
  }
  .hero-img{
    width: 80%;
    height: auto;
    margin-bottom: 1.9em;
  }
}

@media screen and (max-width:632px){
  .header {
    height: auto;
    justify-content: center;
  }
  .h4logo, .h5logo {
    text-align: center;
  }
  .hero-img{
    margin-bottom: 1.3em;
  }
}

@media screen and (max-width:480px){
  .header {
    height: auto;
    justify-content: center;
  }
  .suba {
    margin: 0 0 7px;
  }
  .menu {
    margin: 0 0 5px;
  }
  .h4logo, .h5logo {
    text-align: center;
  }
  .hero-img{
    width: 80%;
    height: auto;
  }
  h1{
    font-size: 2.3em;
  }
  .phero {
    font-size: 1.5em;
  }
}

@media screen and (max-width:320px){
  .suba {
    width:85%;
  }
  h1{
    font-size: 1.9em;
  }
  .phero {
    font-size: 1.3em;
  }
  .hero-img{
    width: 90%;
    height: auto;
    margin-bottom: 1em;
  }
}
